// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
$fa-font-path: "../webfonts";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.css";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active {
    background-color: #3f51b5 !important;
    color: white !important;
}

#earningLine {
    width: 100%;
    height: 5px;
    background-color: dodgerblue;
}
#deductLine {
    width: 100%;
    height: 5px;
    background-color: crimson;
}

#totalEarning {
    width: 100px;
    height: 100px;
    color: white;
    background-color: dodgerblue;
}
#totalDeduct {
    width: 100px;
    height: 100px;
    color: white;
    background-color: crimson;
}
#netPay {
    width: 100px;
    height: 100px;
    color: white;
    background-color: limegreen;
}

#label {
    font-size: 15px;
}
#output {
    font-size: 25px;
}
